build/.cmake/api/v1
build/CLRPEPatcher.dir/Debug
build/Debug/
build/x64/Debug/
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps